h1 {color:black;}
p    {
    color: white;
    font-family: courier;
    font-size: 100%;
     }


body
{background-color:green;}

ul#menu {padding: 0;}

ul#menu li {display: inline;}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    }

ul#menu li a:hover {background-color: blue;}
#nvlr ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}
